extends ../layout

block content
  h1 Agregar Médico

  form(action='/medicos/create', method="post")
    label Nombre:
    input(type="text" name="nombre")

    label Apellido:
    input(type="text" name="apellido")

    label DNI:
    input(type="text" name="dni")

    label Email:
    input(type="text" name="email")

    label Teléfono:
    input(type="text" name="telefono")

    label Estado:
    select(name="estado")
      option(value=true) Activo
      option(value=false) Inactivo

    button(type="submit") Guardar

