extends layout

block content
  .container-obras
    h2 Nuestras especialidades

    .row-obras
      each grupo, index in [grupo1, grupo2, grupo3]
        .columna
          .titulo
            i.fas.fa-user-md
          ul
            each esp in grupo
              li= esp
