doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Agenda de Consultorios
    //link(rel="stylesheet", href="/stylesheet/style.css") // Enlace a tu hoja de estilos externa

  body
    .container
      h1 Agenda de Consultorios
      a.option(href="/pacientes") Paciente
      a.option(href="/agendas") Agendas
      a.option(href="/medicos") Médicos
