doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/styles.css")


  body
    header
      h1 Agenda Médica
      nav
        a(href="/") Inicio
        a(href="/medicos") Médicos
        a(href="/pacientes") Pacientes
        a(href="/turnos") Turnos

    //- Aquí va el contenido que se cambia según la vista
    block content

    footer
      p © 2024 Todos los derechos reservados.
