extends layout

block content
  .container-obras
    h2 Obras sociales y prepagas que recibimos
    p (consultar en función de la especialidad que necesita)

    .row-obras
      each grupo, index in [grupo1, grupo2, grupo3]
        .columna
          .titulo
            i.fas.fa-info-circle
          ul
            each obra in grupo
              li= obra
