extends ../layout

block content
  .container.mt-5
    h2.text-center.mb-4 Calendario de Agendas Médicas

    #calendar(style="background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);")

  script(src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js")
  script.
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        allDaySlot: false,
        slotMinTime: "07:00:00",
        slotMaxTime: "22:00:00",
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'timeGridWeek,timeGridDay'
        },
        events: !{JSON.stringify(eventos)}
      });
      calendar.render();
    });
