extends layout

block content
  .container
    h2 Registrar Sobreturno

    form(method="POST", action="/turnos/sobreturno")
      .form-group
        label(for="fecha") Fecha:
        input(type="date", name="fecha", required)

      .form-group
        label(for="hora") Hora:
        input(type="time", name="hora", required)

      .form-group
        label(for="medico_id") Médico:
        select(name="medico_id", required)
          each medico in medicos
            option(value=medico.id_medico)= medico.nombre

      .form-group
        label(for="paciente_dni") DNI del paciente:
        input(type="text", name="paciente_dni", required, maxlength="10")

      button.btn(type="submit") Crear Sobreturno

    a.btn(href="/programacion") ← Volver a programación
