extends ../layout

block content
  h1 Agregar Paciente

  if error
    div(style="color: red; font-weight: bold; margin-bottom: 1em")
      | #{error}

  form(action="/pacientes" method="POST")
    label(for="nombre") Nombre:
    input(type="text" name="nombre" value=(typeof datos !== 'undefined' && datos.nombre ? datos.nombre : ''))
    br

    label(for="apellido") Apellido:
    input(type="text" name="apellido" value=(typeof datos !== 'undefined' && datos.apellido ? datos.apellido : ''))
    br

    label(for="dni") DNI:
    input(type="text" name="dni" value=(typeof datos !== 'undefined' && datos.dni ? datos.dni : ''))
    br

    label(for="email") Email:
    input(type="email" name="email" value=(typeof datos !== 'undefined' && datos.email ? datos.email : ''))
    br

    label(for="telefono") Teléfono:
    input(type="text" name="telefono" value=(typeof datos !== 'undefined' && datos.telefono ? datos.telefono : ''))
    br

    label(for="obra_social") Obra Social:
    input(type="text" name="obra_social" value=(typeof datos !== 'undefined' && datos.obra_social ? datos.obra_social : ''))
    br

    button(type="submit") Guardar
