extends ../layout

block content
  .container.mt-5
    .alert.alert-success.text-center
      h4 ✅ Paciente eliminado con éxito
      p.text-muted La operación se completó correctamente.

    .text-center.mt-4
      a.btn.btn-primary(href="/pacientes") ← Volver a la Lista de Pacientes
