extends ../layout.pug

block content
  .container.mt-5
    .alert.alert-success(role="alert")
      h4 ¡Paciente actualizado correctamente!
    a.btn.btn-primary(href="/pacientes") Volver a la lista de pacientes
